.split-pane-divider:hover {
  cursor: ew-resize;
}

.nav-link.active {
  --bs-nav-underline-link-active-color: var(--bs-nav-link-color) !important;
}

.insertable {
  font-size: 0.85rem;
}

.form-floating > input + label:after {
  background: none !important;
}

.dropdown.btn-group {
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.browser-obtainable-input.browser-input-mode .input-group {
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-secondary);
  border-left: 0;
}

.browser-obtainable-input.browser-input-mode .input-group-text {
  border-top: 0;
  border-bottom: 0;
}

#web-browser-toolbar .btn.nav {
  background: none !important;
  border: none !important;
}

#web-browser-toolbar .btn.nav:hover {
  color: var(--bs-info);
}

.help-modal-body table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.help-modal-body table th {
  background: var(--bs-modal-bg);
}

.help-modal-body table td,
.help-modal-body table th {
  padding: 0.5rem;
  border: 1px solid var(--bs-light);
}

.help-modal-body h2 {
  font-size: 1.5rem;
}

.help-modal-body h5 {
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-size: large;
  font-weight: bold;
}

.help-modal-body code {
  color: var(--bs-info);
}

.help-modal-body ul {
  padding-left: 1.5rem;
}
